@model Dinner.Models.User

@{
    ViewBag.Title = "Edit" + @Model.Name;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "User")) {
        <div class="panel-body">
            @*@Html.EditorForModel()*@
            @foreach (var prop in ViewData.ModelMetadata.Properties) {
                if (prop.PropertyName != "UserId") {
                    <div class="form-group">
                        <label>@(prop.DisplayName ?? prop.PropertyName)</label>
                        @Html.TextBox(prop.PropertyName, null,new { @class = "form-control" })
                        @Html.ValidationMessage(prop.PropertyName)
                    </div>
                }
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "List", null, new {
                @class = "btn btn-default"
            })
        </div>
    }
</div>